---
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
---

<!doctype html>
<html lang="en">
  <head> </head>
  <body>
    <main></main>
  </body>
</html>
