---
import BaseLayout from "@layouts/BaseLayout.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <h1 class="">Welcome to {SITE_TITLE}</h1>
</BaseLayout>
