---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body
    class="bg-background text-foreground flex flex-col min-h-screen w-[60%] mx-auto font-handwriting"
  >
    <Header />

    <section class="flex-grow">
      <!-- root -->
      <section
        id="root"
        class="flex justify-between items-center w-[80%] mx-auto py-12"
      >
        <div class="flex flex-col text-xl">
          <span class="text-4xl font-black">Hey! I'm Aditya Jyoti</span>
          <span class="text-lg flex items-center"
            >breaking things since... <img
              src="/shushing-face.svg"
              alt="sush emoji"
              class="w-10 aspect-square"
            />
          </span>

          <span
            >A diehard engineer using tech to cope with the struggles of life.
            Susceptible to doing things just because they look "cool"</span
          >

          <div class="relative flex gap-4 font-semibold text-sm mt-4">
            <!-- button 1 -->
            <div class="relative">
              <div
                class="flex items-center justify-center border-2 w-56 h-10 absolute top-0 left-0 z-10 bg-background border-foreground hover:translate-x-0.5 hover:translate-y-0.5 transition-all ease-in-out duration-300"
              >
                <a
                  href="https://linkedin.com/in/aditya-jyoti"
                  target="_blank"
                  class="mt-1 w-full text-center">LINKEDIN</a
                >
              </div>
              <div class="w-56 h-10 bg-foreground translate-x-1 translate-y-1">
              </div>
            </div>
            <!-- button 1 -->
            <div class="relative">
              <div
                class="flex items-center justify-center w-56 h-10 absolute top-0 left-0 z-10 text-background bg-foreground hover:translate-x-0.5 hover:translate-y-0.5 transition-all ease-in-out duration-300"
              >
                <a
                  href="https://github.com/aditya-jyoti"
                  target="_blank"
                  class="mt-1 w-full text-center">GITHUB</a
                >
              </div>
              <div
                class="w-56 h-10 bg-background border-2 border-foreground translate-x-1 translate-y-1"
              >
              </div>
            </div>
          </div>
        </div>
        <div class="w-full flex justify-end relative">
          <img
            src="/me-bg.jpg"
            alt="my photo"
            class="w-56 h-56 rounded-full border-2 absolute z-10 border-foreground"
          />
          <div
            class="w-56 h-56 bg-foreground rounded-full translate-x-1 translate-y-1"
          >
          </div>
        </div>
      </section>
    </section>

    <Footer />
  </body>
</html>
