<footer class="w-full flex flex-col items-center justify-center pt-6 pb-2">
  <p class="text-sm">&copy; 2025-26 Aditya Jyoti</p>
  made with blood, sweat and tears by <br />
  <strong> <a href="https://adityajyoti.com" class="text-foreground">Aditya Jyoti</a></strong>
</footer>
