<nav
  class="lg:flex justify-between items-center p-4 text-lg border-b-2 border-foreground hidden"
>
  <span class="font-bold text-2xl"
    ><a href="https://adityajyoti.com/" class="text-foreground hover:text-foreground">Aditya Jyoti</a></span
  >

  <div class="flex gap-8 text-foreground hover:text-foreground">
    <a href="/#root" class="text-foreground hover:text-foreground">Root</a>
    <a href="/#projects" class="text-foreground hover:text-foreground">Projects</a>
    <a href="/#whatido" class="text-foreground hover:text-foreground">What I Do</a>
    <a href="/blog" class="text-foreground hover:text-foreground">Blog</a>
    <a href="/#contact" class="text-foreground hover:text-foreground">Contact</a>
  </div>
</nav>
