---

---

<nav
  class="bg-custom-light-grey w-full px-2 md:px-4 py-1 border-b-2 border-black flex justify-between"
>
  <div class="flex items-center gap-2 md:gap-4">
    <img src="/icon.png" alt="icon" class="w-8" />
    <ul class="flex gap-2 md:gap-4 font-bold translate-y-0.5">
      <a href="#about">
        <li>About</li>
      </a>
      <a href="#projects">
        <li>Projects</li>
      </a>
      <a href="#blog">
        <li>Blog</li>
      </a>
    </ul>
  </div>

  <div
    class="flex gap-4 items-center text-xl text-custom-black translate-y-0.5"
  >
    <a href="https://www.linkedin.com/in/aditya-jyoti/" target="_blank">
      <i class="fa-brands fa-linkedin"></i>
    </a>
    <a href="https://github.com/aditya-jyoti" target="_blank">
      <i class="fa-brands fa-square-github"></i>
    </a>
    <a href="mailto:aj.adityajyoti@gmail.com" target="_blank">
      <i class="fa-solid fa-envelope"></i>
    </a>
  </div>
</nav>
