---
import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<"blog">;

const { title, description } = Astro.props.data;
---

<html lang="en">
  <head>
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body>
    <main>
      <!-- Your blog post content goes here -->
    </main>
  </body>
</html>
