<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Aditya Jyoti's tenth iteration of a  portfolio website"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image" href="/icon.png" />
    <meta name="generator" content={Astro.generator} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />

    <title>Aditya Jyoti</title>
  </head>
  <body class="font-custom-rounded">
    <slot />
  </body>
</html>

<style is:global>
  * {
    scroll-behavior: smooth;
  }
</style>
